Repository GradeDe-rtype/Server, pull requests merged in 2025-01, with the labels that each got.

#29 27 feature/boss mechanics
  src/Game/Entity/Base/AEntity.cpp
  src/Game/Entity/Base/AEntity.hpp
  src/Game/Entity/Base/IEntity.hpp
  src/Game/Entity/Monster/Monster.cpp
  src/Game/Entity/Monster/Monster.hpp
  src/Game/Entity/Player/Player.cpp
  src/Game/Room/Room.cpp
  src/Game/Room/Room.hpp
Labels: game, enhancement, feature

#31 Enhancement/rework shoots
  src/Game/Entity/Base/Entity.hpp
  src/Game/Entity/Monster/Monster.cpp
  src/Game/Entity/Monster/Monster.hpp
  src/Game/Entity/Player/Player.cpp
  src/Game/Entity/Player/Player.hpp
  src/Game/Entity/Shoot/Shoot.cpp
  src/Game/Entity/Shoot/Shoot.hpp
  src/Game/Room/Room.cpp
  src/Game/Room/Room.hpp
  src/Server/Command.cpp
  src/Server/Server.cpp
  src/Server/Server.hpp
Labels: game, network, enhancement

#33 Pull boss mechanic with main
  src/Game/Entity/Base/Entity.hpp
  src/Game/Entity/Monster/Monster.cpp
  src/Game/Entity/Monster/Monster.hpp
  src/Game/Entity/Player/Player.cpp
  src/Game/Entity/Player/Player.hpp
  src/Game/Entity/Shoot/Shoot.cpp
  src/Game/Entity/Shoot/Shoot.hpp
  src/Game/Room/Room.cpp
  src/Game/Room/Room.hpp
  src/Server/Command.cpp
  src/Server/Server.cpp
  src/Server/Server.hpp
Labels: game, enhancement, feature

#37 34 fix and refacto boss mechanic and wave functions
  src/Game/Room/Room.cpp
  src/Game/Room/Room.hpp
Labels: game, fix

#38 merge to get all new fix
  src/Game/Room/Room.cpp
  src/Game/Room/Room.hpp
Labels: game, fix

#39 36 feature bonus and weapons
  src/Game/Entity/Monster/Monster.hpp
  src/Game/Room/Room.cpp
  src/Game/Room/Room.hpp
Labels: game, feature, investigation

#30 UnitTest/GameLogic
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/GameTests.cpp
Labels: feature, testing

#45 Fix/global fixes
  bin/format.sh
  src/Game/Entity/Monster/Monster.hpp
  src/Game/Entity/Player/Player.hpp
  src/Game/Room/Room.cpp
  src/Game/Room/Room.hpp
  src/Server/Command.cpp
  tests/GameTests.cpp
Labels: game, fix

#46 UnitTest/GameLogic
  .gitignore
  CMakeLists.txt
  bin/pre-commit
  bin/run_tests.sh
  tests/CMakeLists.txt
  tests/GameTests.cpp
Labels: enhancement, testing
